{% extends 'base.html.twig' %}

{% block title %}Non autorisé{% endblock %}

{% block body %}

<p>{{message}}</p>
<a href="{{ path('app_home')}}" class="btn btn-primary">Retour à l'accueil</a>

{% endblock %}