{% extends 'base.html.twig' %}

{% block title %}Mention Légale{% endblock %}

{% block body %}

<p>Conditions générales d'utilisation

Bienvenue sur notre site web ! En utilisant notre site web, vous acceptez d'être lié par les présentes conditions générales d'utilisation :

Acceptation des conditions
En utilisant notre site web, vous acceptez d'être lié par ces conditions générales d'utilisation, qui peuvent être mises à jour par nous de temps à autre. Si vous n'acceptez pas ces conditions générales d'utilisation, vous ne devriez pas utiliser notre site web.

Utilisation du site web
Notre site web est destiné à votre usage personnel et non commercial uniquement. Vous ne pouvez pas utiliser notre site web à des fins illégales ou non autorisées. Vous acceptez de vous conformer à toutes les lois et réglementations applicables lors de l'utilisation de notre site web.

Propriété intellectuelle

Le contenu de notre site web, y compris mais sans s'y limiter, le texte, les graphiques, les images, les logos et les logiciels, est protégé par les lois sur la propriété intellectuelle. Vous ne pouvez pas utiliser notre contenu sans notre autorisation écrite préalable.

Limitation de responsabilité
Nous ne serons pas responsables de tout dommage résultant de l'utilisation de notre site web. Nous ne garantissons pas que notre site web sera exempt d'erreurs, de virus ou d'autres éléments nuisibles.

Modifications du site web
Nous nous réservons le droit de modifier, de suspendre ou de mettre fin à tout aspect de notre site web à tout moment et sans préavis.

Résiliation
Nous nous réservons le droit de résilier votre utilisation de notre site web à tout moment et sans préavis.

Loi applicable
Les présentes conditions générales d'utilisation sont régies et interprétées conformément aux lois applicables.

Si vous avez des questions concernant ces conditions générales d'utilisation, veuillez nous contacter à l'adresse indiquée sur notre site web.</p>


{% endblock %}
